{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis ex inventore est aperiam ipsam alias sapiente sint aliquid, quae veritatis placeat dolore quis consequuntur nisi id expedita nobis maxime adipisci temporibus, eum facilis saepe. Illo molestias iusto laudantium minus ratione repellat iure dolores error fugiat delectus veritatis, reiciendis possimus voluptatum officia iste doloribus eveniet consequuntur est nihil doloremque sed? Nobis consequuntur eveniet quisquam, consectetur, tenetur repellendus minus reiciendis provident cumque veniam rem. Sit velit in porro labore, enim inventore dolorem sunt voluptatem! Enim ducimus nulla impedit, molestiae nobis dolor accusantium id esse maiores veritatis aperiam nostrum eligendi pariatur?</p>
</div>

{% endblock content %}


