{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="my-5">login Page</h3>
    
    {% if form.non_field_errors %}
        
            {% for err in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{ err }}</p>
            {% endfor %}

    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
    
            <div class="container form-control mb-3" style="color:white; background-color:rgb(18, 11, 11); border-style: none">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-outline-primary mt-">Login</button>
        
    </form>
</div>

{% endblock content %}


